@using Entity.Model
@model List<Student>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Öğrenci Listesi</h1>
 @if (User.IsInRole("Admin"))
   {
      <div class="btn btn-success "   style="float: right; ">
            <a asp-controller="Student" asp-action="AddStudent" style= "color:white" >Öğrenci Ekle</a>
        </div>
   }
        <div style="height:50px"></div>
   <table class="table table-bordered"  width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <td><b>ID</b></td>
                        <td><b>Öğrenci Adı</b></td>
                        <td><b>Öğrenci Soyadı</b></td>
                         @if (User.IsInRole("US-1"))
   {
                        <td><b>Sil</b></td>
                        <td><b>Güncelle</b></td>
   }
                        <td><b>Detaylar</b></td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.StudentID</td>
                            <td>@item.FirstName</td>
                            <td>@item.LastName</td>
                             @if (User.IsInRole("Admin"))
   {
                            <td style="text-align-last: center;">
                                <a class="btn btn-danger " asp-action="DeleteStudent" asp-controller="Student" asp-route-id="@item.StudentID" style="width:55px ">
                                    <i >Sil</i>
                                </a>
                            </td>
   }
                             @if (User.IsInRole("Admin"))
                             {
                            <td style="text-align-last: center;">
                                <a class="btn btn-warning " asp-action="EditStudent" asp-controller="Student" asp-route-id="@item.StudentID" >
                                    <i >Güncelle</i>
                                </a>
                            </td>
                             }
                              <td style="text-align-last: center;">


                                <button class="btn btn-warning " onclick="openCreateModal(@item.StudentID)" data-toggle="modal" data-target="#modalCreate-@item.StudentID" >
                                    <i >Detay</i>
                                </button>

                                <div id="modalCreate-@item.StudentID" class="modal fade" tabindex="-1" role="dialog">
                                    <div id="@item.StudentID" style="display:contents"></div>
                                </div>
                                
                            </td>
                        </tr>
                    }
                </tbody>
            </table>


            <script>
              function openCreateModal(id) {

                $.get("@Url.Action("Partial_Detail", "Student")", { id: id }, function (res) {
                    var jqContainer = $('#' + id);
                    jqContainer.html(res);


                        $("#modalCreate-" + id).removeClass("fade");

                        $("#modalCreate-" + id).show();                   
                });
            }

            
    function closeCreateModal(id) {
        $("#modalCreate-" + id).addClass("fade");
        $("#modalCreate-" + id).hide();
        location.reload();

    }
            
            </script>
